@import "../valo/valo.scss";

@mixin mytheme{
    @include valo;

    $warning-color: red;

    .v-label-warning {
      background: $v-textfield-background-color;
      color: valo-font-color($v-textfield-background-color);
      border: 2px solid $warning-color;
      border-radius: $v-border-radius;
      padding: round($v-unit-size/5) round($v-unit-size/2) round($v-unit-size/5) round($v-unit-size);
      font-weight: $v-font-weight + 100;
      font-size: round($v-font-size * 0.95);

      &:before {
        font-family: FontAwesome;
        content: "\f071";
        margin-right: .5em;
        margin-left: round($v-unit-size/-2);
        color: $warning-color;
      }
    }
}